<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>jackhallam</username>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sonatype-oss-release</id>
            <properties>
                <gpg.keyname>JackHallam</gpg.keyname>
            </properties>
        </profile>
    </profiles>
</settings>